# 표준 입력함수 : input()
 - 파이썬에서 기본적으로 데이터를 키보드로 입력할 때 사용하는 함수 : 콘솔(console) 환경
 - input함수는 입력되는 모든 것을 문자열로 취급
 - 변수 = input()

In [2]:
# = 연산자의 방향 : 우에서 좌
# + 연산자의 방향 : 좌에서 우
c=input()
print(c)

w
w

In [4]:
#input 형식에 메시지를 담을 수 있음.

b=input('숫자입력 : ')
print('입력받은 숫자 : ',b)

숫자입력 : 2
입력받은 숫자 :  2

In [15]:
#반지름을 입력받아 원의 면적과 둘레를 계산하는 프로그램

pi=3.14159265
a=float(input('반지름 입력 : '))

print('면적 : ' , pi*a**2 ,'\n' '둘레 : ' ,2*pi*a)

반지름 입력 : 5
면적 :  78.53981625
둘레 :  31.4159265

In [17]:
#두 숫자를 입력받아 합과 곱을 출력하는 프로그램

a=float(input('숫자 입력1 : '))
b=float(input('숫자 입력2 : '))


hap = a+b
gop = a*b

print('합 : ' , hap , '곱: ', gop)

숫자 입력1 : 3
숫자 입력2 : 4
합 :  7.0 곱:  12.0

## 여러 값을 한번에 입력받는 함수

 - split() : 특정 문자를 기준으로 문자열을 잘라내는 함수
 - map() : map(변환함수 , 반복가능한 객체)

In [19]:
num = input()
print(num)

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [5]:
num = input().split() # 공백을 기준으로 잘라낸다.
map(int,num)
print(num)

type(num[1])

30 40 50
['30', '40', '50']

str

In [26]:
num = map(int , input().split(','))
print(num)

1,2,3,4
<map object at 0x00000283719BA760>

In [28]:
#list(리스트) : 1차원 배열을 의미하는 자료형으로 R에서 vector와 같음

num = list(map(int , input().split(',')))
print(num)

1,2,3,4,5
[1, 2, 3, 4, 5]

## 문자열 자료형

### 문자열 생성
 - 문자열은 '' , "" , """ """ ,''' '''로 생성 가능

In [29]:
 c = """ 오늘은 화요일 """
print(c)

 오늘은 화요일

In [31]:
 d = '''life is short , 
 you need python.
 '''
print(d)

life is short ,
you need python.

In [32]:
e = ' life is too short , \n you need python.'
print(e)

 life is too short ,
 you need python.

### 문자열 연산 : + , *

In [37]:
a = 'python'
b = 'hello'

print(a * 2)
print(a,' ',b)

pythonpython
python   hello

### 문자열 인덱싱(Indexing)
 - **인덱싱(indexing)** 은 특정 위치를 가르킨다는 의미를 가짐
 - 문자열은 일반적으로 메모리에 저장될 때 list 형태로 저장
 - 각 문자는 해당 위치를 통해서 읽어올 수 있다.
 - 인덱스는 0부터 시작

In [58]:
string = 'life is too short , you need python.'
print(string)
string[0:6] # 마지막의 바로 전까지 읽어옴.

string[-7:-1]

life is too short , you need python.

'python'

### 문자열 포매팅(Formating)
 - 문자열 내의 특정 위치값을 바꾸거나 서식을 이용하여 표시할 때 사용
 - 서식 기호
  1. %s : 문자열
  2. %c : 문자1개
  3. %d : 10진수
  4. %f : 실수
  5. %o : 8진수
  6. %x : 16진수
  7. %% : %

### 문자열 관련 함수

In [61]:
jumin='123456-abcdefg'
jumin.split('-')

['123456', 'abcdefg']

In [67]:
s='abcdefg'
print(s)
'-'.join(s)

abcdefg

'a-b-c-d-e-f-g'

# 표준 출력함수 : print()
 - 기본형 : print('출력내용')
 - print(a,b,c)

## 형식화된 문자열을 이용한 출력

In [71]:
x=9
print('정수1 : {0}'.format(x))
print('결과 : {}'.format(3**5))
print('덧셈 : {} , 곱셈 : {}'.format(x+x,x*x))

정수1 : 9
결과 : 243
덧셈 : 18 , 곱셈 : 81

In [77]:
z=input('이름을 입력하세요 :')
x=int(input('나이를 입력하세요 :'))
y=input('성별을 입력하세요 :')


print('%s님의 나이는 %d세이고 성별은 %s입니다' %(z,x,y))

이름을 입력하세요 :홍길동
나이를 입력하세요 :24
성별을 입력하세요 :남자
홍길동님의 나이는 24세이고 성별은 남자입니다

In [81]:
a=8.3/2.7
print('실수 1 : {0:.3f}'.format(a))

실수 1 : 3.074

In [84]:
y=2.5*3.4
print('실수값 : {0:.2f}'.format(y))

실수값 : 8.50

## 서식기호를 이용한 출력

In [85]:
# %s : 문자열
# %c : 문자
# %d : 정수
# %f : 실수
    
num=12
print('현재 시간은 %d 입니다' %num)

현재 시간은 12 입니다

In [86]:
hour = 14
minute = 17

print('현재 시간은 %d시 %d분 입니다.' %(hour,minute))

현재 시간은 14시 17분 입니다.

In [89]:
name = '길동'
height = 180
weight = 78.5

print('%s님의 키는 %dcm이고 , 몸무게는 %.2fKg입니다.' %(name,height,weight))

길동님의 키는 180cm이고 , 몸무게는 78.50Kg입니다.

In [90]:
print('숫자출력 %10d' %100)
print('숫자출력 %10d' %10000)
print('숫자출력 %-10d' %10000)

숫자출력        100
숫자출력      10000
숫자출력 10000

In [92]:
print('{name} is {job}'.format(name='john',job='programmer'))

john is programmer

In [93]:
#python 3.6부터는 문자열 포멧팅에 변수를 직접 사용 가능
#문자열 앞에 문자열 포멧팅이라는 의미로 f를 붙이기도 함.

name='john'
job='studying'
print(f'{name} is {job}')

john is studying

In [102]:
#인덱스 뒤에 > , < , ^

print('{}'.format('hi'))
print('{0:=^10}'.format('hi'))

hi
====hi====

In [105]:
#자리바꿈
x=100
y=200

print('x = %d , y = %d' %(y,x))

x = 200 , y = 100

In [106]:
x=1000
y=2000

x,y = y,x

print(x,y)

2000 1000

In [113]:
#패킹과 언패킹

x = (1,2,3,4,5)
a,b,c,d,e=x

In [122]:
#두 개의 정수를 입력받아 사칙연산의 결과를 출력하는 프로그램 구현

# a=int(input('첫 번째 정수 : '))
# b=int(input('두 번째 정수 : '))

#a,b=int(input('숫자 : ').split(','))

a , b=map(int,input('숫자 : ').split(','))

print(f'{a} + {b} = {a+b}')
print(f'{a} x {b} = {a*b}')
print(f'{a} - {b} = {a-b}')

##출력형식
# 10 + 20 = 30 
# 10 - 20 = -10
# 10 * 20 = 200

숫자 : 10,20
10 + 20 = 30
10 x 20 = 200
10 - 20 = -10

### 성적처리 프로그램 1단계
- 국어 , 영어 , 수학점수를 입력받아 총점과 평균을 출력하는 프로그램을 구현.
- 평균은 소수점 이하 둘째자리까지.

In [126]:
a=int(input('국어 : '))
b=int(input('영어 : '))
c=int(input('수학 : '))

sum=a+b+c
mean=(a+b+c)/3
print(f'총점 : %d점 , 평균 : %.2f점' %(sum,mean))

국어 : 92
영어 : 88
수학 : 87
총점 : 267점 , 평균 : 89.00점