# Python과 DataBase 연동

 1. 해당 라이브러르 : DB 접속 드라이버 , cx_Oracle , python-oracledb
     - 설치 : Anaconda prompt 창(관리자 권한) pip install 설치할 모듈명
     - 주피터 노트북 안에서 설치 : !pip install 설치할 모듈명
     - Anaconda : pip install ~ or conda install ~
     - pip install oracledb --upgrade 최근 버전
     - pip install cx_Oracle --upgrade:


 2. 접속정보 확인
     - 사용자 계정과 비밀번호 : scott/tiger
     - 오라클 url : localhost:1521/xe

In [ ]:
#주피터 노트북에 라이브러리 설치
# pip install cx_Oracle --upgrade

# DB 연동 작업

In [2]:
import cx_Oracle as cx

## connection : 연결 통로 구축

In [6]:
#cx.connect('사용자계정' , '비밀번호' , 'url')
# url : localhost(127.0.0.1):1521/xe
conn = cx.connect('scott' , '1234','127.0.0.1:1521/xe')

## DB에 테이블 조회

In [16]:
cur = conn.cursor()

sql = 'select * from product'

cur.execute(sql)

rs = cur.fetchall()
for i in rs:
    print(i)

## 전체 레코드 삭제 후 새로운 레코드 삽입

In [15]:
sql = 'delete from product'
cur.execute(sql)
conn.commit()

In [17]:
items = [(1,'레몬',1500,'맛있는 레몬이 왔어요','lemon.jpg'),
(2,'오렌지',2500,'상큼한 오렌지 있어요','orange.jpg'),
(3,'키위',1000,'키위','kiwi.jpg'),
(4,'포도',5000,'포도가 맛있다','grape.jpg'),
(5,'딸기',8000,'딸기도 좋아요','strawberry.jpg'),
(6,'귤',500,'제주도 대신 귤','tangerine.jpg')]

for row in items:
    # : 필드 인덱스
    sql = 'insert into product values(:1,:2,:3,:4,:5)'
    print(row)
    cur.execute(sql, row)

(1, '레몬', 1500, '맛있는 레몬이 왔어요', 'lemon.jpg')
(2, '오렌지', 2500, '상큼한 오렌지 있어요', 'orange.jpg')
(3, '키위', 1000, '키위', 'kiwi.jpg')
(4, '포도', 5000, '포도가 맛있다', 'grape.jpg')
(5, '딸기', 8000, '딸기도 좋아요', 'strawberry.jpg')
(6, '귤', 500, '제주도 대신 귤', 'tangerine.jpg')

In [ ]:
sql = 'select count(*) from product'
cur.execute(sql)

count=cur.fetchone()
print(count[0])

In [ ]:
sql = 'delete from product'
cur.execute(sql)
conn.commit()

In [ ]:
#레코드를 한꺼번에 추가
items = [(1,'레몬',1500,'맛있는 레몬이 왔어요','lemon.jpg'),
(2,'오렌지',2500,'상큼한 오렌지 있어요','orange.jpg'),
(3,'키위',1000,'먹어도 키가 안크는 키위가 있어요','kiwi.jpg'),
(4,'포도',5000,'포도가 맛있다','grape.jpg'),
(5,'딸기',8000,'딸기도 좋아요','strawberry.jpg'),
(6,'귤',500,'제주도 대신 귤','tangerine.jpg')]

sql = 'insert into product values (:1,:2,:3,:4,:5)'

#레코드 개수 지정
cur.bindarraysize=len(items)
cur.executemany(sql,items)
conn.commit()

In [18]:
cur.close()
conn.commit()
conn.close()

# 회원관리 프로그램

In [12]:
import cx_Oracle as cx

In [13]:
conn = cx.connect('scott','1234','localhost:1521/xe')

In [15]:
cur = conn.cursor()
cur.execute('select * from company')

rs = cur.fetchall()
for i in rs:
    print(i)
    
cur.close()
conn.commit()
conn.close()

InterfaceError: not connected

## 레코드 삽입

In [ ]:
def insert(userid,username,userpass):
    conn = cx.connect('scott','1234','localhost:1521/xe')
    sql = 'insert into member values(:1,:2,:3)'
    cur = conn.cursor()
    cur.execute(sql,[userid,userpass,username])
    cur.close()
    conn.commit()
    conn.close()

In [ ]:
userid = input(('id = '))
userpass = input('pass = ')
username = input('name = ')

insert(userid,userpass,username)

## 레코드 수정

In [ ]:
def update(userid,userpass,username):
    conn = cx.connect('scott','1234','localhost:1521/xe')
    sql = 'update member set userpass=:1 , username=:2 where userid = :3'
    cur=conn.cursor()
    cur.execute(sql,[userpass,username,userid])
    cur.close()
    conn.commit()
    conn.close()

In [ ]:
def id_check(userid):
    conn = cx.connect('scott','1234','localhost:1521/xe')
    cur=conn.cursor()
    sql = 'select * from member'
    cur.execute(sql)
    rs = cur.fetchall()
    for i in rs:
        if i[0] == userid:
            return True
        else:
            return False
    cur.close()
    conn.commit()
    conn.close()

# 구현

In [4]:
import cx_Oracle as cx
conn = cx.connect('scott','1234','localhost:1521/xe')
cur = conn.cursor()

In [7]:
#cur = conn.cursor()
cur.execute('select * from company')

rs = cur.fetchall()
for i in rs:
    print(i)
    

conn.commit()

In [31]:
def insert(userid,userpass,username):
    cur.execute('insert into member values(:1,:2,:3)',[userid,userpass,username])

In [32]:
def update(userid,userpass,username):
    sql = 'update member set userpass=:1 , username=:2 where userid = :3'
    cur.execute(sql,[userpass,username,userid])

In [33]:
def id_check(userid):
    sql = 'select * from member'
    cur.execute(sql)   
    rs = cur.fetchall()
    print(rs)
    ck = 0
    for a, b, c in rs:        
        if a == userid:
            ck = 1
            
    if ck == 1:
        return True
    else:
        return False

In [34]:
def delete(userid):
    sql = 'delete from member where userid =:1'
    cur.execute(sql,[userid])

In [36]:
def name_check(username):
    sql = 'select * from member'
    cur.execute(sql)
    rs = cur.fetchall()
    print(rs)
    ck = 0
    for a,b,c in rs:
        if a == userid:
            ck = 1
    if ck==1:
        return True
    else:
        return False

In [37]:
def select():
    cur.execute('select * from member')

    rs = cur.fetchall()
    for i in rs:
        print(i)
    

    conn.commit()

In [39]:
import cx_Oracle as cx
conn = cx.connect('scott','1234','localhost:1521/xe')
cur = conn.cursor()
while True:
    print('\n==회원관리 프로그램==')
    print('1.회원등록')
    print('2.회원수정')
    print('3.회원삭제')
    print('4.전체목록')
    print('5.작업종료')
    print()
    menu=int(input('메뉴 :  '))
    
    if menu==1:
        userid = input(('id = '))
        userpass = input('pass = ')
        username = input('name = ')

        insert(userid,userpass,username)
        conn.commit()
        print('완료')
    elif menu==2:
        userid = input('id = ')
        if id_check(userid):
            userpass = input('pass = ')
            username = input('name = ')
            update(userid,userpass,username)
        else:
            print(f'{userid}인 회원정보가 존재하지 않습니다')
        conn.commit()
        print('완료')
    elif menu==3:
        userid = input('삭제할 id = ')
        if name_check(userid):
            delete(userid)
            conn.commit()
            print('완료')
        else:
            print(f'{username} 인 회원정보가 존재하지 않습니다')
        
    elif menu==4:
        select()
    elif menu==5:
        break
    else:
        print('메뉴의 선택의 올바르지 않습니다')
        
cur.close()
conn.commit()
conn.close()
        
print('작업을 종료합니다')

==회원관리 프로그램==
1.회원등록
2.회원수정
3.회원삭제
4.전체목록
5.작업종료

메뉴 :  4
('admin', '1234', '관리자')
('aaa', '홍길동', '1234')
('kim', '1234', '김')
('abc', '12345', '비')

==회원관리 프로그램==
1.회원등록
2.회원수정
3.회원삭제
4.전체목록
5.작업종료

메뉴 :  3
삭제할 id = abc
[('admin', '1234', '관리자'), ('aaa', '홍길동', '1234'), ('kim', '1234', '김'), ('abc', '12345', '비')]
완료

==회원관리 프로그램==
1.회원등록
2.회원수정
3.회원삭제
4.전체목록
5.작업종료

메뉴 :  4
('admin', '1234', '관리자')
('aaa', '홍길동', '1234')
('kim', '1234', '김')

==회원관리 프로그램==
1.회원등록
2.회원수정
3.회원삭제
4.전체목록
5.작업종료

메뉴 :  5
작업을 종료합니다