In [45]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.font_manager as fm
import geopandas as gpd

In [19]:
#장애인들의 구별 분포 데이터 불러오기
b = gpd.read_file('TL_DSPSN_TY_ST_2020.shp')

In [20]:
b.columns

Index(['ID', 'BR_YY', 'GU_NAM', 'ADM_DR_NM', 'MN_PH', 'WN_PH', 'MN_BD',
       'WN_BD', 'MN_VD', 'WN_VD', 'MN_HI', 'WN_HI', 'MN_SD', 'WN_SD', 'MN_MW',
       'WN_MW', 'MN_AD', 'WN_AD', 'MN_MH', 'WN_MH', 'MN_RD', 'WN_RD', 'MN_HT',
       'WN_HT', 'MN_RP', 'WN_RP', 'MN_HP', 'WN_HP', 'MN_FC', 'WN_FC', 'MN_CN',
       'WN_CN', 'MN_TA', 'WN_TA', 'MN_OT', 'WN_OT', 'OT_ALL', 'geometry'],
      dtype='object')

In [21]:
#geometry 열은 필요 없으므로 제거.
b.drop('geometry' , axis = 1 , inplace = True)

In [28]:
#b['sum'] 열에 데이터 안에 있는 모든 value를 행단위로 더하기.
b['sum'] = b.iloc[:,4:].sum(axis = 1)

In [25]:
#인구수만 필요하므로 , 위에서 만든 b['sum']과 구내용이 있는 것들로 정리
b1 = b[['GU_NAM' , 'sum']]

In [26]:
#같은 구도 있을 수 있으므로, 구별로 합계한 것들을 정리
b2 = b1.groupby('GU_NAM').sum()

In [29]:
#정리된 데이터에서 인덱스를 열로 빼기
b3 = b2.reset_index()
b3.head()

  GU_NAM    sum
0    강남구  46314
1    강동구  53007
2    강북구  52551
3    강서구  86562
4    관악구  60897

In [33]:
#구별 전체 인구 데이터 불러오기
c = pd.read_csv('주민등록인구_20231013155233.csv')
c

,동별(1),동별(2),2019,2019.1,2019.2,2019.3,2019.4,2019.5
0,동별(1),동별(2),세대 (세대),계 (명),한국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명)
1,합계,소계,4327605,10010983,9729107,281876,2.25,1485272
2,합계,종로구,73947,161869,151290,10579,2.05,27519
3,합계,중구,62739,136488,126171,10317,2.01,23275
4,합계,용산구,110126,245185,228670,16515,2.08,38791
5,합계,성동구,135838,308979,300889,8090,2.22,43947
6,합계,광진구,164428,366972,351350,15622,2.14,47902
7,합계,동대문구,164191,363023,346194,16829,2.11,59350
8,합계,중랑구,181579,402024,397015,5009,2.19,65164
9,합계,성북구,192592,454744,442650,12094,2.30,70850
10,합계,강북구,144277,317695,313954,3741,2.18,60577
11,합계,도봉구,138508,335631,333362,2269,2.41,58714
12,합계,노원구,216966,537303,532905,4398,2.46,80923
13,합계,은평구,207681,484546,480032,4514,2.31,80738
14,합계,서대문구,140157,323171,309397,13774,2.21,52074
15,합계,마포구,175023,385925,374035,11890,2.14,52429
16,합계,양천구,177256,462285,458165,4120,2.58,61264
17,합계,강서구,262708,598273,591796,6477,2.25,84077
18,합계,구로구,176568,439371,406664,32707,2.30,65779
19,합계,금천구,110622,251820,232810,19010,2.10,37660
20,합계,영등포구,174806,400986,367678,33308,2.10,57872
21,합계,동작구,180753,408912,395963,12949,2.19,62226
22,합계,관악구,268559,517334,500094,17240,1.86,75194
23,합계,서초구,173199,435107,430826,4281,2.49,57136
24,합계,강남구,232981,550209,545169,5040,2.34,71025
25,합계,송파구,278711,682741,675961,6780,2.43,87334
26,합계,강동구,183390,440390,436067,4323,2.38,63452

In [34]:
#위의 c 데이터에서 구별과 총 인구수만 가져오기
c1 = c.iloc[:,[1,3]]

In [35]:
#위쪽에 소계 행 제거
c2 = c1.loc[2:]

In [36]:
#b3와 c2를 합치기 위해 '구별' 열을 'dong'로 바꿈
c2.rename(columns = {'동별(2)' : 'dong'} , inplace = True)

C:\Users\NT551_11TH\AppData\Local\Temp\ipykernel_9172\3644988285.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c2.rename(columns = {'동별(2)' : 'dong'} , inplace = True)

- 여기에서 경고문과 함께 b3의 구별 column을 'dong'으로 바꿀 수 없었음. 그래서 c2쪽에서 b3의 열이름에 맞게 다시 재설정

In [37]:
c2 = c2.rename(columns = {'dong' : 'GU_NAM'})

In [23]:
b3

   GU_NAM    sum
0     강남구  46314
1     강동구  53007
2     강북구  52551
3     강서구  86562
4     관악구  60897
5     광진구  37689
6     구로구  54423
7     금천구  34119
8     노원구  82026
9     도봉구  46350
10   동대문구  47613
11    동작구  44205
12    마포구  39357
13   서대문구  37836
14    서초구  31668
15    성동구  35058
16    성북구  53061
17    송파구  60840
18    양천구  52368
19   영등포구  43230
20    용산구  24075
21    은평구  64851
22    종로구  18201
23     중구  17136
24    중랑구  61083

- c2(구별 총인구)의 구별 column과 b3(구별 장애인 인구)의 구별 column이 일치.

In [38]:
#c2와 b3를 '구별' column을 기준으로 합치고 total 객체 생성
total = pd.merge(c2 , b3 , on = 'GU_NAM')
total.head()

  GU_NAM  2019.1    sum
0    종로구  161869  18201
1     중구  136488  17136
2    용산구  245185  24075
3    성동구  308979  35058
4    광진구  366972  37689

In [40]:
#열 이름들을 알아보기 쉽게 변경
total.rename(columns = {'2019.1' : '총인구' , 'sum' : '장애인인구'} , inplace = True)

In [41]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GU_NAM  25 non-null     object
 1   총인구     25 non-null     object
 2   장애인인구   25 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

- total.info()로 보면 . 총인구와 sum열은 연산이 가능해야 하는데. 2019.1은 object로 잡혀있음.

In [42]:
#총인구의 Dtype를 int로 바꾸기
total['총인구'] = total['총인구'].astype(int)

In [43]:
#새로운 열을 생성하여 총 인구 대비 장애인 비율 추가
total['장애인비율'] = total['장애인인구']/total['총인구'] * 100

In [ ]:
tota

In [34]:
#필요한 데이터셋을 만들었으므로 저장.
total.to_csv('장애인 비율 통계.csv')

In [56]:
a = pd.read_csv('장애인 비율 통계.csv' , encoding = 'euc-kr')
a.to_csv('장애인 비율 통계1.csv' , encoding = 'utf-8')